.body {
    background: #221C2D;
    background: linear-gradient(272deg, rgba(34, 28, 45, 1) 0%, rgba(40, 32, 71, 1) 100%);
    height: 100vh;
}

.container {
    max-width: 1700px;
    width: 90%;
    margin: 0 auto;
    display: flex;
}

.campo_login {
    width: 60vw;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 5px var(--cinza);
    justify-content: center;
}

.campo_form {
    color: var(--branco);
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
}

.campo_form input {
    background-color: var(--cinza);
    border-radius: 10px;
    height: 4vh;
    padding: 5px;
}

#btn_entrar{
    display: flex;
    align-self: center;
}