.botoes_filtro {
    display: flex;
    width: 80%;
    justify-content: space-around;
    margin-bottom: 10vh;
}

#pesquisar input {
    width: 40vh;
    height: 4vh;
    background-color: var(--cinza);
    padding: 5px;
    border-radius: 8px;
}

.botaoPreco {
    width: 10vw;
    height: 4vh;
    background-color: var(--cinza);
    border-radius: 8px;
}

#categorias {
    background-color: var(--cinza);
    width: 10vw;
    height: 4vh;
    border-radius: 8px;
}

#filtros {
    display: flex;
    gap: 15%;
}

/* CARDS */

.cards_jogo {
    display: grid;
    gap: 80px;
    place-items: center;
    grid-auto-columns: 1fr;
    margin-bottom: 10vh;
}


@media (min-width: 768px){
    .cards_jogo{
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1200px){
    .cards_jogo{
        grid-template-columns: 1fr 1fr 1fr;
    }
}