* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: var(--font-padrao);
  
}

:root {
  --fundo-escuro: #0b0616;
  --fundo-azulado: #221c2d;
  --vermelho: #ff004c;
  --roxo: #7a3bff;
  --branco: #fff;
  --cinza: #d6d2e6;
}

