/* Section 1 */
#main {
    background-color: #221c2d;
}

#banner {
    background-color: var(--fundo-azulado);
    background: linear-gradient(180deg, rgba(34, 28, 45, 1) 19%, rgba(82, 59, 255, 0.27) 50%, rgba(34, 28, 45, 1) 82%);
    height: 80vh;
}

#container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

#informacoes {
    margin: 5vw;
    font-size: 30;
    color: var(--branco);
    width: 60%;
    gap: 20px;
    display: flex;
    flex-direction: column;
}

/* Section 2 */

.catalogo {
    background-color: var(--fundo-azulado);
    color: var(--branco);
}

#campo_catalogo {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#informacoes_catalogo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#informacoes_catalogo hr {
    height: 2px;
    width: 20%;
    border: solid 1px var(--vermelho);
    margin-bottom: 10vh;
    margin-top: 1vh;
}

/* Section 3 */

#campo_titulo {
    width: 40vw;
    display: flex;
    align-items: center;
    flex-direction: column;
}


.comportamento {
    background: #523BFF;
    background: radial-gradient(circle, rgba(82, 59, 255, 0.57) 2%, rgba(57, 43, 147, 1) 12%, rgba(34, 28, 45, 1) 24%);
    color: var(--branco);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comportamento hr {
    height: 2px;
    width: 100%;
    border: solid 1px var(--vermelho);
    margin-bottom: 5vh;
    margin-top: 1vh;
}

#area_imagem {
   
    width: 70%;
    height: 40vh;
    padding: 30px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}

#texto_comportamento {
    font-size: 20px;
    font-weight: lighter;
    width: 70%;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-bottom: 30px;
}