.header {
    background-color: var(--fundo-azulado);
    height: 15vh;
    display: flex;
    align-items: center;
}

.container {
    max-width: 1700px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav_menu {
    display: flex;
    width: 30%;
    justify-content: space-around;
}


#nav_menu a {
    color: var(--branco);
    text-decoration: none;
    font-size: 20;
}

#botao_login {
    border: 2px solid var(--vermelho);
    border-radius: 5px;
}
