.footer{
    /* background-color:  rgb(33, 27, 44, 0.3); */
    background: #523BFF;
    background: linear-gradient(360deg, rgba(82, 59, 255, 0.57) 0%, rgba(57, 43, 147, 1) 0%, rgba(34, 28, 45, 1) 0%);
    height: 15vh;
    display: flex;
    align-items: center;
}

.container {
    max-width: 1700px;
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#lista {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
}

#lista li {
    color: var(--branco);
}
